</div>
<!-- Main footer -->
<!-- https://byliner.com/all-the-creatively-different-ways-to-say-hello/ by tyna G -->
<!-- https://www.onlinecoursereport.com/free/web-development/ -->
<!-- https://www.simplilearn.com/best-programming-languages-start-learning-today-article By Sruthi Veeraraghavan -->
<!-- https://www.technotification.com/2018/08/programming-languages-app-development.html by Vicky Singh Rao -->
<!-- http://langleydpac.ca/contact/ -->
  <footer>
    <p>
      &copy;&nbsp;Reserved. Henry Suh.<br>
      Images are retrieved from:<br>
      https://byliner.com/all-the-creatively-different-ways-to-say-hello/<br>
      https://www.onlinecoursereport.com/free/web-development/<br>
      https://www.simplilearn.com/best-programming-languages-start-learning-today-article<br>
      https://www.technotification.com/2018/08/programming-languages-app-development.html<br>
      http://langleydpac.ca/contact/<br>
    </p>
  </footer>
  <script src="/jquery/dist/jquery.slim.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</div>
</body>
</html>