<% include partials/header.ejs %>

<!-- Content -->
<!-- Section Header -->
<div class="sectionHeader">
    <h1><%= title %></h1>
</div>
<div></div>
<!-- left div -->
<div id="welcome">
    <img src="/img/profile_photo.jpg" alt="contact" style="width:60%">
</div>
<!-- vertical line -->
<div class="vl" style="height: 450px;"></div>
<!-- right div -->
<div id="welcomeDisc">
    <div id="idvPDF">
        <a class="links" href="/resume">See a PDF resume</a>
    </div>
    <!-- personal info. -->
    <h4>Hi, I'm <span style="color: tan;">Jin-woo Henry Suh.</span></h4><br>
    <p>
        Who is currently studying Software Engineering in Centennial College.
        I have background in Media Engineering that is mostly about media processing algorithms such as morphing, warping, and computer vision.
        Therefore, I might bright in algorithms especially when it's about media processing.
    </p>
    <p>
        However, I figured it out that I'm kind of dimmed at the constructure and process of applications.
        That is why I decided to study about software, and I've already found some fun in that field.
    </p>
    <p>
        I've been through a lot of stuffs such as C#, Java, Python, SQL, Javascript, HTML, CSS, Linux, and etc.
        However, there are still a tons of it I have to be through, and I'm happy for that.
    </p>
    <p>
        I'm gradually being better at skill sets of programming, so I undoubtedly believe that I can make it to be a professional software engineer one day.
    </p>
</div>

<% include partials/footer.ejs %>