<% include partials/header.ejs %>

<!-- Content -->
<!-- Section Header -->
<div class="sectionHeader">
    <h1><%= title %></h1>
</div>
<div></div>
<!-- left div -->
<div id="welcome">
    <img src="/img/contact.jpg" alt="contact" style="width:60%">
    <br><br><br>
    <h2>I'll be waiting for<br>your contact.</h2>
</div>
<!-- vertical line -->
<div class="vl" style="height: 450px;"></div>
<!-- right div -->
<div id="welcomeDisc">
    <!-- space holder -->
    <div style="height: 210px;"></div>
    <!-- personal info. -->
    <h4>Henry Suh</h4><br>
    <p>Being attended in Centennial College.</p>
    <p>
        <i class="fas fa-envelope-open"></i>
        <a class="links" href="mailto:jsuh4@my.centenialcollege.ca">jsuh4@my.centenialcollege.ca</a>
    </p>
    <p>
        <i class="fab fa-linkedin"></i>
        <a class="links" href="https://www.linkedin.com/in/henry-s-112688206/">Linkedin</a>
    </p>
</div>

<% include partials/footer.ejs %>