<% include partials/header.ejs %>

<!-- Content -->
<!-- Section Header -->
<div class="sectionHeader">
    <h1><%= title %></h1>
</div>
<div></div>
<!-- left div -->
<div id="welcome">
    <img src="/img/contact.jpg" alt="contact" style="width:60%">
    <br><br><br>
    <h2>I'll be waiting for<br>your contact.</h2>
</div>
<!-- vertical line -->
<div class="vl" style="height: 450px;"></div>
<!-- right div -->
<div id="welcomeDisc">
    <!-- personal info. -->
    <h4>Henry Suh</h4><br>
    <p>Being attended in Centennial College.</p>
    <p>
        <i class="fas fa-envelope-open"></i>
        <a class="links" href="mailto:jsuh4@my.centenialcollege.ca">jsuh4@my.centenialcollege.ca</a>
    </p>
    <p>
        <i class="fab fa-linkedin"></i>
        <a class="links" href="https://www.linkedin.com/in/henry-s-112688206/">Linkedin</a>
    </p>
    <br>
    <!-- Message box -->
    <p>Want to leave a message?</p>
    <form action="/sendMsg">
        <input type="text" id="name" name="name" placeholder="Your name" size="10" style="margin-bottom: 5px;">
        <br>
        <textarea id="msg" name="msg" placeholder="Your message" style="width:200px; height: 100px;margin-bottom: 5px"></textarea>
        <br>
        <button id="btnSend" type="submit">Send</button>
    </form>
</div>

<% include partials/footer.ejs %>