<% include partials/header.ejs %>

<!-- Content -->
<!-- Section Header -->
<div class="sectionHeader">
    <h1><%= title %></h1>
</div>
<div id="missionState">
    <h1>"Make your system<br><br>
        Simple, Fast, Intuitive, and Smart"
    </h1>
</div>

<!-- left div -->
<div id="welcome">
    <img src="/img/hello.jpg" alt="hello" style="width:60%">
    <br><br><br>
    <h1>Welcome</h1>
    <p>to my place!</p>
</div>
<!-- vertical line -->
<div class="vl" style="height: 450px;"></div>
<!-- right div -->
<div id="welcomeDisc">
    <p>Thank you for visiting me.</p>
    <br>
    <p>My name is Henry Suh.</p>
    <p>A SW engineer who is interested in</p>
    <p>Full-Stack web development,</p>
    <p>Multi-platform application,</p>
    <p>AI, and so on.</p>
    <br>
    <p>you can see my works
    <a class="links" href="/projects">here.</a></p>
    <p>Also, here is a link in case</p>
    <p>you have interests in
    <a class="links" href="/about">My profile.</a></p>
    <p>I can provide you these
        <a class="links" href="/services">services.</a>
    </p>
    <p>Please take a look,</p>
    <p>and if you need 
        <a class="links" href="/contact">contact me :)</a>
    </p>

</div>

<% include partials/footer.ejs %>