<% include partials/header.ejs %>

<!-- Content -->
<!-- Section Header -->
<div class="sectionHeader">
    <h1><%= title %></h1>
</div>
<div></div>
<!-- left div -->
<div class="lDiv">
    <!-- img1 -->
    <div class="divBlock">
        <img src="/img/firstProj.png" alt="proj1" style="height:100%">
    </div>
    <!-- description2 -->
    <div class="divBlock">
        <p>This photo gallery project was a challenge for me.</p>
        <p>It requires exchanging information b/w windows that</p>
        <p>I totally didn't understand at that time.</p>
        <p>I've never heard of Cross-origin resource sharing (CORS)</p>
        <p>before this project.</p>
        <p>This was also an individual project, so I've done all by my own.</p>
    </div>
    <!-- img3 -->
    <div class="divBlockEnd">
        <img src="/img/thirdProj.png" alt="proj3" style="height:100%">
    </div>
</div>
<!-- vertical line -->
<div class="vl" style="height: 950px;"></div>
<!-- right div -->
<div class="rDiv">
    <!-- description1 -->
    <div class="divBlock">
        <p>This is my first work done in Web programming.</p>
        <p>A simple BMR calculator that calculate BMR based on</p>
        <p>gender, age, height, weight, and activity level.</p>
        <p>This was a individual project, so I've done all the tasks alone.</p>
        <p>I've learned some basic css skills through this project.</p>
        <p>no error, no malfunctioning.</p>
        <p>Actually, it still works well :D</p>
    </div>
    <!-- img2 -->
    <div class="divBlock">
        <img src="/img/secondProj.png" alt="proj2" style="height:100%">
    </div>
    <!-- description3 -->
    <div class="divBlockEnd">
        <p>My first html based game.</p>
        <p>This project was indivisual, too, and I almost lost.</p>
        <p>There are many ways to display images on a website.</p>
        <p>For instance, you can use a canvas tag as well as img tags.</p>
        <p>This game was implemented of a canvas tag</p>
        <p>It collects x and y points when an user clicks on the canvas,</p>
        <p>then calculate if the user could've catched a fly or not.</p>
        <p>I still wonder if there is a simpler way than my work.</p>
    </div>
</div>

<% include partials/footer.ejs %>