<% include partials/header.ejs %>

<!-- Content -->
<!-- Section Header -->
<div class="sectionHeader">
    <h1><%= title %></h1>
</div>
<div id="provides">
    <h2>I can do...</h2>
</div>
<!-- left div -->
<div class="lDiv">
    <!-- img1 -->
    <div class="divBlock">
        <img src="/img/web.jpg" alt="web" style="height:100%">
    </div>
    <!-- img2 -->
    <div class="divBlock">
        <img src="/img/general.jpg" alt="general" style="width:328px;height:100%">
    </div>
    <!-- img3 -->
    <div class="divBlockEnd">
        <img src="/img/mobile.jpg" alt="mobile" style="width:328px;height:100%">
    </div>
</div>
<!-- vertical line -->
<div class="vl" style="height: 950px;"></div>
<!-- right div -->
<div class="rDiv">
    <!-- description1 -->
    <div class="divBlock">
        <h4>Web Programming</h4>
        <p>I can develop the front-end with JS</p>
        <p>the back-end with Node.js, ASP, and Java.</p>
        <p>Also, currently learning Angular and React.</p>
    </div>
    <!-- description2 -->
    <div class="divBlock">
        <h4>General Programming</h4>
        <p>I've developed some general programs</p>
        <p>for specific purpose, such as an enchantment calc</p>
        <p>that is used by many players in a video game,</p>
        <p>a chat bot for streaming, and a pattern recognizer for a lab</p>
    </div>
    <!-- description3 -->
    <div class="divBlockEnd">
        <h4>Mobile Programming</h4>
        <p>I have experience developing a mobile game app.</p>
        <p>I've learned the constructor of a mobile application</p>
        <p>during the development and the differences of coord b/w</p>
        <p>computer and mobile devices.</p>
    </div>
</div>

<% include partials/footer.ejs %>